.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #332F29;

    padding: 10px 20px;

    border-bottom: 10px solid black;
}

.main-header .icon{
    width: 60px;
    height: 60px;
}

.main-header .navigation .action-header{
    margin-right: 30px;
}

.action::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #728575;
    margin-right: 10px;
}