.main-header{
    display: flex;
    justify-content: space-between;

    background-color: #332F29;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

.main-header .icon{
    width: 60px;
    height: 60px;
}

.main-header .navigation .action::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #728575;
    margin-right: 10px;
}

.main-header .navigation .action{
    display: inline-flex;

    align-items: center;

    margin-right: 30px;

    transition: all 0.3s;
}


.main-header .navigation .action:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}
