.main-section{
    box-sizing: border-box;

    padding-top: 50px;

    height: 770px;
}

.main-section .main-title{
    text-align: center;
}

.main-section.-skills{
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #728575;
}

.main-section.-skills .skill-tec{
    margin-bottom: 38px;
}

