.main-carrosel .carrosel{
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.main-carrosel .carrosel .node-card{
    transition: all 1s;

    margin-right: 63px;
} 

.main-carrosel .carrosel .items{
    display: flex;
    width: 100%;

    transition: transform 1s;
}