.line-time{
    display: flex;
    justify-content: center;
}
.line-time .wrapper{
    display: flex;
}

.line-time .project-time{
    margin-right: 42px;
}

.line-time .project-time:last-child{
    margin-right: 0px;
}
